/* Initializing base file */
* {
    box-sizing: border-box;
    font-family: sans-serif;
    color: #535353;
}



/* Making sure no text decorations on hyperlinks and color matches color scheme */
a{
    text-decoration: none;
    color: black;
}



/* Navbar */
.navbar{
    font-size: 18px;
}

.navToggle{
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 32px;
    display: flex;
    justify-content: end;
}

.main-Nav{
    list-style-type: none;
    display: none;
}

.main-Nav li{
    text-align: center;
    margin: 20px .25rem;
    font-size: 20px;
}

.navItem{
    text-decoration: none;
}

.profilePic{
    width: 3em;
    border-radius: 50%;
    margin: 5px 0 10px 30px;
}

.active{
    display: block;
}



/* Media Query for Navbar on Desktops */
@media screen and (min-width: 768px){
    .navbar{
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
        overflow: visible;
    }

    .main-Nav{
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }

    .main-Nav li{
        margin: 0;
        font-weight: bold;
    }

    .navItem{
        margin-left: 40px;
    }

    .navToggle{
        display: none;
    }

    .navItem:hover{
        color: green;
        cursor: pointer;
    }

    .profilePic{
        width: 5em;
        margin: 20px 20px;
        padding-top: 60px;   
    }
}



/* Setting up background table */
.wrapper{
    background-color: #ffff;
    margin: 10px auto 20px auto;
    width: 100%;
    max-width: 600px;
    table-layout: fixed;
    overflow: scroll;
}



/* Making sure all titles are consistent */
.title{
    color: black;
}



/* Button */
button{
    padding: 15px 30px 15px 30px;
    background-color: black;
    color: white;
    border: none;
    margin-bottom: 20px;
    font-size: 14px;
}

button:hover{
    cursor: pointer;
}



/* Styling for articles */
.articleColumns{
    text-align: left;
    display: flex;
    justify-content: center;
}

.content{
    line-height: 20px;
}

.articleBreak{
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.column{
    display: inline-block;
}

/* .productFlow{
    width: 98px;
} */

.articleBreak::before, .articleBreak::after{
    content: '';
    flex: 1;
    border-bottom: 1px solid black;
}

.articleBreak::before{
    margin-right: 1.5em;
    margin-left: 1em;
}

.articleBreak::after{
    margin-left: 1.5em;
    margin-right: 1em;
}

.goopGenes{
    position: relative;
}

.lipBalm{
    position: absolute;
    left: 25rem;
    top: 33rem;
}


/* Bottom of Newsletter */
.footer{
    text-align: center;
    padding-bottom: 80px;
    padding-top: 20px;
    color: #9c9c9c;
    line-height: 15px;
    font-size: 14px;
}

.footer p{
    color: #9c9c9c;
}

.footer a{
    color: #9c9c9c;
}

.footer .personalInfo{
    line-height: 25px;
    font-size: 18px;
}




/* Homepage Grid */
.homepageGrid{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 125px;
}

.gridItem{
    display: flex;
    font-size: 58px;
    width: 300px;
    height: 300px;
    background-color: black;
    border: 5px solid white;
    -webkit-transition: background-color .25s ease-out;
    -moz-transition: background-color .25s ease-out;
    -o-transition: background-color .25s ease-out;
    transition: background-color .25s ease-out;
}

.gridItem p{
    margin: auto;
    color: white;
}


/* Hover Effects */
.boxOne:hover{
    background-color: green;
    cursor: pointer;
    transition: .25s linear;
    transform: translate(-5px, -5px);
}

.boxTwo:hover{
    background-color: #0a67c2;
    cursor: pointer;
    transition: .25s linear;
    transform: translate(5px, -5px);
}

.boxThree:hover{
    background-color: red;
    cursor: pointer;
    transition: .25s linear;
    transform: translate(-5px, 5px);
}

.boxFour:hover{
    background-color: purple;
    cursor: pointer;
    transition: .25s linear;
    transform: translate(5px, 5px);
}


/* Media Query for Desktop */
@media screen and (min-width: 768px){
    .homepageGrid{
        padding-top: 150px;
    }

    .boxOne:hover{
        transform: translate(0px, -10px);
    }

    .boxTwo:hover{
        transform: translate(0px, -10px);
    }

    .boxThree:hover{
        transform: translate(0px, -10px);
    }

    .boxFour:hover{
        transform: translate(0px, -10px);
    }
}


/* Media Query for mobile devices */
@media screen and (max-width: 767px){
    .homepageGrid{
        padding-top: 25px;
    }

    .gridItem{
        width: 150px;
        height: 150px;
        font-size: 34px;
    }
}

@media screen and (max-width: 590px){
    .productFlow{
        width: 150px;
    }
}

@media screen and (max-width: 505px){
    .productFlow{
        width: 130px;
    }
}

@media screen and (max-width: 445px){
    .productFlow{
        width: 110px;
    }
}

@media screen and (max-width: 385px){
    .productFlow{
        width: 98px;
    }
}




/* About Page */
.intro{
    text-align: center;
    margin: 150px 50px;
    font-size: 34px;
}

@media screen and (min-width: 768px){
    .intro{
        max-width: 800px;
        margin: 150px auto;
    }

    .disclaimer{
        display: none;
    }
}

@media screen and (max-width: 767px){
    .disclaimer{
        text-align: center;
        font-size: 24px;
    }

    .intro{
        font-size: 18px;
    }
}